@mixin notebook() {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin tablet() {
    @media (max-width: 1050px) {
        @content;
    }
}
@mixin mobile() {
    @media (max-width: 670px) {
        @content;
    }
}
@mixin txt-centr() {
    text-align: center;
}
@mixin mg-bt() {
    margin-bottom: 45px;
}
@mixin pd-bt() {
    padding-bottom: 45px;
}
